body {
  background-color: #70628F;
}

.game-dates {
  font-size: 28px;
}

.todays-games {
  text-align: center;
  padding-top: 130px;
  font-family: 'Playfair Display SC', serif;
  font-size: 22px;
  color: white;
}

.player-info {
  font-size: 13px;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
}

.about {
  float: right;
}

a {
  color: black;
}

.practice2{
  margin-left: 300px;
}

.home-team-info {
  margin-right: 250px; 
  font-size: 15px;
}

.visiting-team-info {
  margin-left: 250px;
  font-size: 15px;
  margin-top: -72px;
}

h2 {
  color: white;
}

.ADN {
  color:white;
}

.player-stats {
  color: white;
}

